@use "../modules/mixins";
@use "../modules/spacing";

@mixin button-style($primary: true) {
  $base: if($primary == true, "buttons.base.text", "buttons.base.face");
  $hover: if($primary == true, "buttons.base.text", "buttons.hover.face");
  $active: if($primary == true, "buttons.base.text", "buttons.active.face");

  @include mixins.set-style("border-color", "buttons.base.face");
  @include mixins.set-style("color", $base);

  @if $primary {
    @include mixins.set-style("background", "buttons.base.face");
  } @else {
    background: transparent;
  }

  appearance: none;
  border-style: solid;
  border-width: calc(#{spacing.$text-xs} / 2);
  border-radius: spacing.$text-xs;
  cursor: pointer;
  font-weight: bold;
  margin: spacing.$text-xs;
  padding: spacing.$text-xs spacing.$text-l;

  &:hover {
    @include mixins.set-style("border-color", "buttons.hover.face");
    @include mixins.set-style("color", $hover);

    @if $primary {
      @include mixins.set-style("background", "buttons.hover.face");
    } @else {
      background: transparent;
    }
  }

  &:active {
    @include mixins.set-style("border-color", "buttons.active.face");
    @include mixins.set-style("color", $active);

    @if $primary {
      @include mixins.set-style("background", "buttons.active.face");
    } @else {
      background: transparent;
    }
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    @include mixins.set-style("border-color", "buttons.base.face", desaturate, desaturate, 100%);
    @include mixins.set-style("color", $base, desaturate, desaturate, 100%);

    @if $primary {
      @include mixins.set-style("background", "buttons.base.face", desaturate, desaturate, 100%);
    } @else {
      background: transparent;
    }

    cursor: not-allowed;
    opacity: 0.5;
  }
}

button {
  @include button-style();

  &.secondary {
    @include button-style(false);
  }
}
