@use "../modules/mixins";
@use "../modules/spacing";

code.block {
  @include mixins.set-style("background", "off-bg");
  display: block;
  margin: spacing.$vertical 0;
  max-height: spacing.$code-block-max-height;
  overflow: auto;
  padding: calc(#{spacing.$vertical} / 2) calc(#{spacing.$horizontal} / 2);
  white-space: pre;
}
