@use "../modules/spacing";
@use "../modules/typography";

figcaption {
  font: typography.$fine;
  margin: spacing.$text-s spacing.$none spacing.$none spacing.$none;

  &:not(.uncounted) {
    counter-increment: figures;

    &:before {
      content: 'Figure ' counter(figures) '. ';
      font-weight: bold;
    }
  }
}

figure {
  margin: spacing.$vertical spacing.$none;

  img,
  iframe.video,
  code[class*=language-].block {
    margin: spacing.$none;
  }
}