@use "../modules/mixins";
@use "../modules/spacing";
@use "../modules/typography";

table {
  border-collapse: collapse;
  margin: spacing.$text-m calc(#{spacing.$text-xs} * -1);
  width: calc(100% + (#{spacing.$text-xs} * 2));

  &:has(code[class*=language-].block) {
    table-layout: fixed;
  }
}

caption {
  caption-side: top;
  font-weight: bold;
  margin: spacing.$text-m spacing.$text-xs spacing.$none spacing.$text-xs;
  text-align: left;

  &:not(.uncounted) {
    counter-increment: tables;

    &:before {
      content: 'Table ' counter(tables) '. ';
    }
  }
}

th {
  @include mixins.set-style("border-bottom", "borders.th");
  font-weight: bold;
  text-align: left;
}

th,
td {
  padding: spacing.$text-xs;

  &.num,
  &.short {
    text-align: center;
  }

  &:has(code[class*=language-].block) {
    padding: spacing.$none;
  }

  code[class*=language-].block {
    border-radius: 0;
    margin: spacing.$none;
    padding: spacing.$text-xs;
  }
}

tbody tr:nth-child(even) td {
  @include mixins.set-style("background", "off-bg");
}

tfoot {
  @include mixins.set-style("border-top", "borders.th");
  font: typography.$fine;
}