@use "../modules/spacing";
@use "../modules/typography";
@use "./text-input";

textarea {
  @extend input;
  height: calc(#{spacing.$vertical} * 4);

  &.sm {
    height: calc(#{spacing.$vertical} * 2);
  }

  &.lg {
    height: calc(#{spacing.$vertical} * 6);
  }

  &:has(+ p.character-count) {
    margin-bottom: spacing.$none;
  }

  & + p.character-count {
    font: typography.$fine;
    margin-top: spacing.$none;
    text-align: right;
  }
}