@use "../modules/breakpoints";
@use "../modules/typography";

h1 {
  font: typography.$h1;
}

h2 {
  font: typography.$h2;
}

h3 {
  font: typography.$h3;
}

h4 {
  font: typography.$h4;
}

body {
  font: typography.$body;
}

html {
  @media (min-width: #{breakpoints.$desktop * 1.2}) {
    font-size: 1.1rem;
  }

  @media (min-width: #{breakpoints.$desktop * 1.4}) {
    font-size: 1.2rem;
  }

  @media (min-width: #{breakpoints.$desktop * 1.6}) {
    font-size: 1.3rem;
  }

  @media (min-width: #{breakpoints.$desktop * 1.8}) {
    font-size: 1.4rem;
  }

  @media (min-width: #{breakpoints.$desktop * 2}) {
    font-size: 1.5rem;
  }
}