@use "./breakpoints";
@use "./spacing";

%layout {
  margin: 0 auto;
  max-width: calc(#{breakpoints.$desktop} - (#{spacing.$horizontal} * 2));
  padding: spacing.$vertical spacing.$horizontal;
}

%breakout {
  margin: spacing.$vertical calc(-1 * (50vw - 50% - (var(--scrollbar-width, 17px) / 2)));
  padding: spacing.$vertical calc(50vw - 50% - (var(--scrollbar-width, 17px) / 2));
}